@page "/CanvasTutorial"

<h1>BlazorExtensions.Canvas</h1>

<p>Getting started with BlazorExtensions.Canvas <a href="https://github.com/BlazorExtensions/Canvas#readme">here</a></p>

<BECanvas Width="300" Height="400" @ref="_canvasReference" ></BECanvas>