@page "/"

<h1>Blazor's Canvas Performance</h1>

<p>Within this app we will look at how our canvas render code will perform using an established enterprise use case.</p>

<p>
    This demo was written by <a href="https://github.com/jonjames-mccormack" target="_blank">Jon James McCormack</a>, and the source is available <a href="https://github.com/jonjames-mccormack/Blazor.CanvasDemo" target="_blank">here</a>.

    I am a Product & Engineering Leader at <a href="https://www.coatsdigital.com/" target="_blank">Coats Digital</a>. We have a long pedigree of building unique and highly interactive canvas based web applications.
</p>

<img src="img/coatsDigitalCanvas.JPG"/>

