<BECanvas @ref="ordersCanvas" Height="600" Width="1200" />

<p>Time to render Order canvas was: @(frameTimeInMilliseconds)ms</p>

<button class="btn btn-primary" @onclick="RenderOrders">Redraw</button>